<script type="text/javascript">
    // Popup window code
    function newPopup(url) {
        popupWindow = window.open(
            url,'popUpWindow','height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
    </script>
    <p><a href="JavaScript:newPopup('/javascript/examples/sample_popup.cfm');">Click here to input your data</a></p>